#navbarTable {
    margin-left: 10%;
}

#navbarTable th {
    padding: 10px;
}

#navbarTable td {
    padding: 5px 40px 5px 10px;
}

.position button {
    padding: 0;
    margin: 0;
}

#navbarTable tr:nth-child(even) {
    background-color: #eee;
}

#navbarTable tr:nth-child(odd) {
    background-color: #ccc;
}
