body{
  overflow-x: hidden;
  width: 100vw;
}

select{
    position: relative;
    top: 75px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 30px;
    background:  #f7f7f78f;
    border: none;
    margin-bottom: 75px;
}

option{
    color:black;
    text-align: center;
}

#Message{
    background: radial-gradient(#3a6ba5e0 20%,#3a6ba5);
    height: 35%;
    width: 50%;
    position:absolute;

    top: 25%;
    left: 25%;

    font-family: 'Quicksand';
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    border-radius: 10px;
}

#Message-header{
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid white;
    background-color: #7a92af;
}

#Message-body{
    text-align: center;
    margin: 50px 20px;
    font-size: 25px;
}

#Message-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 75px;
    z-index: 10;
    border-top: 1px solid white;
}

#Message-buttons-bevestig{
    position:absolute;
    right: 0;
    width: 50%;
    background-color: #13f798;
    height: 100%;

    z-index: 11;

}

#Message-buttons-cancel{
  position:absolute;
    left: 0;
    width: 50%;
    background-color: #FF6854;
    height: 100%;

    z-index: 11;
}

#Message-buttons-bevestig:hover{
  background-color: #00fd07;
   transition: background-color 0.3s;
}
#Message-buttons-cancel:hover{
  background-color: #ff2d12;
   transition: background-color 0.3s;
}

.PageContentList > div{
  font-family: 'Quicksand';
  position: relative;
}

/* Buttons */
#File-buttons-gotoPag,
#File-buttons,
#File-buttons-Lower{
  width: 560px;
  margin: 30px auto;
  height: auto;
}

#File-buttons > div{
  width: 100%;
  height: 100px;
  margin: 20px 0;
  padding: 0;
  position: relative;
  border: 0.5px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: #2f6ba5;
}

#File-buttons > div > div:first-child{
  width: 145px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
  font-weight: bold;
  font-size: 25px;
  text-align: right;
}

#File-buttons > div > div:last-child{
  width: 70px;
  margin: 0;
  padding: 0;
  height: 99%;
  position: absolute;
  right: 0px;
  line-height: 85px;
  color: #306aa5;
  text-shadow: 0.5px 0.5px 1px white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  background-color: gainsboro;

}

#File-buttons > div > input{
  width: calc(100% - 195px);
  margin: 0;
  padding: 0 20px;
  position: absolute;
  border: none;
  right: 0;
  height: 99%;
  font-size: 30px;
  font-family: 'Quicksand';
}
#File-buttons-docnamin{
    width: calc(100% - 255px) !important;
    padding: 0 20px !important;
    padding-right: 80px !important;
  }

#File-buttons-Save,
#File-buttons-Discard{
  width: calc(50% - 50px);
  height: 100%;
  padding: 25px;
  float: right;
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
  font-size: 29px;
  z-index: 10;

}

[readonly]{
  background-color: gainsboro;
}
[readonly]:focus{
  background-color: gainsboro;
}
input:focus{
  background-color: #faf7f3;
  color: black;
  text-shadow: 0.5px 0.5px #b4f4ff;
}
#File-buttons-gotoPag{
  width: 145px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  text-shadow: 0.5px 0.5px 1px black;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 85px;
}
#File-buttons-gotoPag:hover{
  background-color: #5e8ebd;
  border: 10px double white;
  
  line-height: 70px;
}

#File-buttons-gotoPag a{
  display: block;
  width: 100%;
  height: 100%;

  text-decoration: none;
  
  color: white;
}
#File-buttons-Save{background-color: #13f798;}
#File-buttons-Discard{background-color: #FF6854;}

#File-buttons-Save:hover{background-color: #00fd07;transition: background 0.3s;}
#File-buttons-Discard:hover{background-color: #ff2d12;transition: background 0.3s;}

@media (max-width: 580px) {
  .PageContentList{
    width: 100vw;
    overflow-x: hidden;
  }
  #File-buttons{
    width: 100%;
  }
  #File-buttons > div{
    height: 80px;
    border-radius: 0;
    font-size: 30px;
    
  }
  #File-buttons > div > input{
    width: calc(100% - 175px);
    padding: 0 10px;
    font-size: 20px;
  }

  #File-buttons-docnamin{
    width: calc(100% - 225px) !important;
    padding: 0 20px !important;
    padding-right: 50px !important;
  }
  #File-buttons > div > div:last-child{
    font-size: 20px;
    width: 40px;
  }

  #File-buttons-Save,
  #File-buttons-Discard{
    width: 100vw;
    float: none;
    margin: 0;
    padding: 30px 0;
    margin-bottom: 10px;
  }
}

