select{
    position: relative;
    top: 75px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 30px;
    background:  #f7f7f78f;
    border: none;
    margin-bottom: 75px;
}

option{
    color:black;
    text-align: center;
}

#Message{
    background: radial-gradient(#3a6ba5e0 20%,#3a6ba5);
    height: 35%;
    width: 50%;
    position:absolute;
    
    top: 25%;
    left: 25%;

    font-family: 'Quicksand';
    color: white;
    text-shadow: 0.5px 0.5px 1px black;
    border-radius: 10px;
}

#Message-header{
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid white;
    background-color: #7a92af;
}

#Message-body{
    text-align: center;
    margin: 50px 20px;
    font-size: 25px;
}

#Message-buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 75px;
    z-index: 10;
    border-top: 1px solid white;
}

#Message-buttons-bevestig{
    position:absolute;
    right: 0;
    width: 50%;
    background-color: #13f798;
    height: 100%;

    z-index: 11;
    
}

#Message-buttons-cancel{
  position:absolute;
    left: 0;
    width: 50%;
    background-color: #FF6854;
    height: 100%;
    
    z-index: 11;
}

#Message-buttons-bevestig:hover{
  background-color: #00fd07;
   transition: background-color 0.3s;
}
#Message-buttons-cancel:hover{
  background-color: #ff2d12;
   transition: background-color 0.3s;
}

.PageContentList > div{
  border-bottom: 5px solid black;
  font-family: 'Quicksand';
  position: relative;
  height: 270px;
  overflow: hidden;
}

.PageContentList > div > h2{
  margin: 0;
  padding: 20px 20px 20px 0;
  width: 280px;
  text-align: right;

  background: #2e6ca5;
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
}

.PageContentList > div > img{
  width: 300px;
  height: 200px;
}

.PageContentList-text{
  width: 260px; 
  height: 160px;
  overflow: hidden;
  padding: 20px;
  z-index: 10;
  text-align: justify;
  margin: 0;

  background-color: #b8b8b8;

  transition: width 0.3s;
  text-shadow: 0.3px 0.3px 1px white;

  position: relative;
  z-index: 11;
}

.PageContentList-text:hover,
textarea{
  width: calc(100% - 40px) !important; 
  transition: width 1s;
}

.PageContentList-img-url{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 300px;
  padding: 22.5px 0px 22.5px 20px;
  width: calc(100% - 320px);
  margin: 0;
  resize: none;
  height: 24px;
  
}

.PageContentList-edit{
  background-color: #2e6ca5;
  width: calc(100% - 400px);
  height: 140px;
  position: absolute;
  left: 350px;
  top: 90px;
  z-index: 100;
  border-radius: 3px;
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px black;
  box-shadow: 3px 3px 0.5px #9db3cc;
  z-index: 10;
}

.PageContentList-edit:hover{
  background-color: #b8b8b8;
  transition: background-color 0.3s;
}

.PageContentList-button{
  width: calc(100% - 400px);
  height: 60%;
  position: absolute;
  top: 90px;
  left: 350px;
  font-size: 37px;
  line-height: 63px;
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
  text-align: center;
}

.PageContentList-button-save{
  width: 50%;
  height: 65px;
  background-color: green;
  position: absolute;
  top: 97px;
  right: 0px;
}

.PageContentList-button-discard{
  width: 50%;
  height: 65px;
  background-color: red;
  position: absolute;
  top: 97px;
  left: 0px;
}

.PageContentList-button-browse{
  width: 100%;
  height: 60%;
  background-color: orange;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 93px;
}

/* text content */
#PageContentList-button-top{
  width: calc(100% - 300px);
  top: 0;
  left: 300px;
}

#PageContentList-button-save-top{
  top: 0px;
  right: 0px;
  height:100%;
}

#PageContentList-button-discard-top{
  top: 0px;
  left: 0px;
  height:100%;
}