textarea{
  width: calc(100% - 20px);
  height: calc(100% - 70px);
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

#CMSToolbar{
  width: 200px;
  height: auto;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  position: fixed;
  top: 12.5%;
  right: 0;
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
  color: white;

  /* Make text unselecable */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#CMSToolbar-Header{
  height: 50px;
  font-size: 35px;
  line-height: 45px;
  background-color: #485a5ca1;
  text-align: center;
  border-bottom: 3px solid #4b0ffe6e;
}

#CMSToolbar-Header:hover{
  background-color: #4a588a9e;
  transition: background-color 0.3s;
}

#CMSToolbar-Body{
  background: linear-gradient(45deg, #0ff5fe, #36505170);
  background-color: #0ff5fe82;

}

.CMSToolbar-Body-item{
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  z-index: 11;
}

.CMSToolbar-Body-item:hover{
  background-color: #0ff5fea1;
  border-top: 3px double white;
  border-bottom: 3px double white;
  padding: 7px 0;
}

#CMSToolbar-Message{
  width: calc(100% - 240px);
  height: auto;
  border-radius: 4px;
  overflow: hidden;
  position: fixed;
  top: 12.5%;
  left: 20px;
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0.5px 0.5px 1px black;
  color: white;
  text-align: center;

  /* Make text unselecable */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

#CMSToolbar-Message-header{
  background-color: #485a5ca1;
  font-size: 30px;
  border-bottom: 3px solid #4b0ffe6e;
}

#CMSToolbar-Message-body{
  background: linear-gradient(45deg, #0ff5fe, #36505170);
  background-color: #0ff5fe82;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#CMSToolbar-Message-buttons{
  border-top: 1px solid white;
  width: 100%;
  height: 50px;;
  position: relative;
}
#CMSToolbar-Message-buttons-cancel,
#CMSToolbar-Message-buttons-confirm{
  width: 50%;
  height: 50px;
  position: absolute;
   transition: background-color 0.3s;
   font-size: 30px;
   line-height: 45px;
}

#CMSToolbar-Message-buttons-confirm{
  right: 0;
  background-color: #13f798;
  z-index: 9;
}

#CMSToolbar-Message-buttons-cancel{
  left: 0;
  background-color: #FF6854;
  z-index: 9;
}

#CMSToolbar-Message-buttons-confirm:hover{
  background-color: #00fd07;
   transition: background-color 0.3s;
}
#CMSToolbar-Message-buttons-cancel:hover{
  background-color: #ff2d12;
   transition: background-color 0.3s;
}

/* THE IMAGE MODAL */
#MODALIMG-background{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

#MODALIMG-body{
  background-color: #2e6ca5;
  width: 75%;
  height: 75%;
  left: 12.5%;
  top: 12.5%;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 2px 2px 1px;
  z-index: 101;
}

#MODALIMG-body-list{
  height: 100%;
  width: 60%;
  overflow-y: auto;
  overflow-x: visible;
}

#MODALIMG-body-list span{
  width: 100%;
  float: left;
  font-size: 20px;
  font-family: 'quicksand', arial;
  background-color: gray;
  padding: 10px 0;
  z-index: 101;
}

#MODALIMG-body-list span:nth-child(even){
  background-color: lightgray;
}

#MODALIMG-body-list span:hover{
  background-color: white;
  border: black double 3px;
  box-sizing: border-box;
}


#MODALIMG-body-preview{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
  width: 40%;
  height: 50%;

  /* for the alt */
  font-family: 'quicksand', arial;
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px 0px black;
}

#MODALIMG-body-buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 50%;
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand', arial;
  color: white;
  text-shadow: 0.5px 0.5px 0px black;
  line-height: 93px;
}

#MODALIMG-body-buttons-cancel{
  width: calc(100% - 50px);
  height: calc(50% - 50px);
  background-color: #FF6854;
  border-radius: 10px;

  margin: 25px;
  box-shadow: 2px 2px black;
  z-index: 101;
}
#MODALIMG-body-buttons-confirm{
  width: calc(100% - 50px);
  height: calc(50% - 50px);
  background-color: #13f798;

  border-radius: 10px;
    margin: 25px;
    box-shadow: 2px 2px black;
    
  z-index: 101;
}

#MODALIMG-body-buttons-cancel:hover{
  background-color: #ff2d12;
  transition: background-color 0.3s;
}

#MODALIMG-body-buttons-confirm:hover{
  background-color: #00fd07;
  transition: background-color 0.3s;
}