* {
    box-sizing: border-box;
}
/* Center website */
.main {
    max-width: 20%;
    margin: auto;
}
#pageContent {
    padding: 20px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

h2{
    text-transform:capitalize;
    font-family:arial;
    color: #1c1c1c;
    font-weight:500;
    font-variant: small-caps;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    display: none;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1.1px ridge;
    border-radius: 3px;
    border-color: gray;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

input.boxer[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:3px;
    border-color: #fff;
    border-left:2.5px inset;
    border-top: 2.5px inset;
    border-bottom: 1.1px ridge;
    border-right: 1.1px ridge;
    border-bottom-color: gray;
    border-right-color: gray;
    position: static;
    float: right;
    transform: scale(0.8);
    margin-top: -16.4px;
    margin-right: -13.9px;
    outline: 0;
}
.boxer[type='checkbox']:checked {
    background-color: gray;
}

#imgklein{
    height: 200px;
    width: 20%;
}

.save-button{
    position: static;
    float: right;
    width: 60px;
    height: 40px;
    border: 1px other;
    background-color: white;
    border-color: #cccccc;
    font-size: 12px;
    border-radius: 20px;
    font-family: arial;
    outline: 0;
}

.btnStandard {
    float: left;
    margin-right: 10px;
    margin-bottom: 120px;
    right: 0px;
    bottom: -175px;
    position: absolute;
}

header{
    z-index: 1000;
}

#imgbig{
    width: 100%;
    height: 300px;
    margin-top: 52px;
    margin-bottom: -180px;
    border-radius: 0px;
    border: 0px ridge;
    display: none;

}

#radio-color{
    color: #2d3032;
    text-transform:capitalize;
    font-family:arial;
    display: inline;
}

p{
    height: 210px;
    overflow-y: auto;
}

.square{
    display: block;
    padding: 8px;
    height: auto;
    width: 20%;
    float: left;
}

#info{
  margin-bottom: 20px;
}

@media (max-width: 400px) {
   .square{
        width: 100%;
    } 
}
@media (min-width:400px) and (max-width: 550px) {
    .square{
        width: 50%;
    }
}
@media (min-width:550px) and (max-width: 750px) {
    .square{
        width: 33%;
    }
}

@media (min-width:750px) and (max-width: 950px) {
    .square{
        width: 25%;
    }
}
