#pageContent {
    padding-top: 100px;
    margin-bottom: 100px;
}

#inbox {
    width: 90%;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 0px;
    height: 400px;
    /*text-align: center;*/
    overflow: hidden;
}

#headInbox {
    height: 50px;
    border-bottom: 3px double black;
}
#title {
    margin: 0;
    padding: 10px;
}

#bodyInbox {
    height: 350px;
}

#formList {
    height: 347px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid black;
    width: 25%;
    float: left;
    background-color: #eee;
}

#formReader {
    width: 73%;
    float: left;
}

#message {
    margin: 0;
    padding: 5px;
    padding-left: 8px;
}

#sendInfo {
    margin-left: 8px;
    margin-bottom: 8px;
}

#subject {
    margin-left: 8px;
}

#subjectPreview, #name, #email, #timestamp {
    font-weight: bold;
}

#actions {
    margin-left: 8px;
}
#actions span {
    font-size: 30px;
    margin-left: 8px;
}
#actions span:hover {
    cursor: pointer;
}
#delete {
    color: red;
}
#reply {
    color: blue;
    padding-left: 4px;
}

#replybox textarea {
    margin-left: 8px;
    margin-top: 15px;
    width: 620px;
    height: 175px;
    resize: none;
    font-family: arial;
    font-size: 15px;
}

.form {
    font-size: 15px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 0px solid black;
    transition: border-left .1s, border-left-color .1s;
    cursor: default;
    background-color: #eee;
}

.notRead {
    border-left: 4px solid red;
    transition: border-left .1s, border-left-color .1s;
}

.form:hover {
    border-left: 4px solid #2E6CA5;
    transition: border-left .1s, border-left-color .1s;
}

.notRead.form:hover {
    border-left-color: #2E6CA5;
    transition: border-left .1s, border-left-color .1s;
}

.notRead.selected, .notRead.selected.form:hover, .selected.form:hover, .selected {
    border-left: 8px solid #2E6CA5;
    transition: border-left .1s, border-left-color .1s;
}

#btnSend {
    background-color: #ccc;
    color: black;
    padding: 13px;
    box-shadow: none;
    margin-left: 8px;
    margin-top: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    border-left: 0px solid #2E6CA5;
    transition: border-left .1s;
}
#btnSend:hover {
    border-left: 6px solid #2E6CA5;
    transition: border-left .1s;
}
