#logs {
    width: 80%;
    margin-left: 10%;
}
#logs td {
    padding: 10px;
}

#logs tr:nth-child(even) {
    background-color: #ccc;
}
#logs tr:nth-child(odd) {
    background-color: #eee;
}
#logs tr:hover {
    background-color: #888;
    color: white;
}

#logForm {
    margin-left: 10%;
}

#logForm input[type="text"] {
    padding: 12px 10px;
    margin-left: 10%;
    box-sizing: border-box;
    outline: 0;
}

#logForm input[type="submit"] {
    padding: 10px;
    font-size: 17px;
    margin-left: 10%;
}
#logForm input[type="submit"]:hover {
    border-left-width: 4px;
}
